<% include ./../../helpers/format-date %>
<% include ./../../helpers/format-summary %>
<%
    const folder_uploads = 'uploads/article/';
%>
<div class="col-lg-8 post-list">
    <!-- Start latest-post Area -->
    <div class="latest-post-wrap">
        <h4 class="cat-title">Latest News</h4>
        <% itemsNews.forEach((item)=>{ %>
            <div class="single-latest-post row align-items-center">
                <div class="col-lg-5 post-left">
                    <div class="feature-img relative">
                        <div class="overlay overlay-bg"></div>
                        <img class="img-fluid" src="<%= folder_uploads + item.thumb %>" alt="<%= item.name %>">
                    </div>
                    <ul class="tags">
                        <li><a href="#"><%= item.category.name %></a></li>
                    </ul>
                </div>
                <div class="col-lg-7 post-right">
                    <a href="#"> <h4><%= item.name %></h4></a>
                    <ul class="meta">
                        <li><a href="#"><span class="lnr lnr-user"></span><%= item.created.user_name %></a></li>
                        <li><a href="#"><span class="lnr lnr-calendar-full"></span><%= formatDate(item.created.time) %></a></li>
                    </ul>
                    <p class="excert">
                        <%- formatSummary(item.content) %> ...
                    </p>
                </div>
            </div>
        <%}) %>
    </div>
    <!-- End latest-post Area -->

    <!-- Start banner-ads Area -->
    <div class="col-lg-12 ad-widget-wrap mt-30 mb-30">
        <img class="img-fluid" src="frontend/img/banner-ad.jpg" alt="">
    </div>
    <!-- End banner-ads Area -->
</div>