<% include ../../helpers/selectbox %>
<%
	const collection = 'users';
	const linkPrefix = systemConfig.prefixAdmin + '/' + collection;
%>

<div class="row">
	<div class="col-lg-12">
		<div class="panel panel-default">
			<div class="panel-heading">
				Form
			</div>
			<div class="panel-body">
				<% include ../../elements/errors %>
				<div class="row">
					<div class="col-lg-6">
						<form role="form" action="<%= linkPrefix %>/save" method="POST">
							<div class="form-group">
								<label>Name</label>
								<input class="form-control" name="name" value="<%= item.name %>">
							</div>
							<div class="form-group">
								<label>Ordering</label>
								<input class="form-control" type="number" name="ordering" value="<%= item.ordering %>">
							</div>
							<div class="form-group">
								<label>Status</label>
								<select name="status" class="form-control">
									<option value="novalue">Choose Status</option>
									<option value="active"
										<%= (item.status === 'active') ? 'selected="selected"' : '' %>>Active</option>
									<option value="inactive"
										<%= (item.status === 'inactive') ? 'selected="selected"' : '' %>>Inactive
									</option>
								</select>
							</div>
							<div class="form-group">
								<label>Group</label>
								<%- selectboxHelper('group', groupsItems) %>
							</div>
							<div class="form-group">
								<label>Content</label>
								<textarea class="form-control" name="content" rows="2"  id="content_ckeditor" >
									<%= item.content %>
								</textarea>
							</div>
							<input class="form-control" name="id" value="<%= item.id %>" type="hidden">
							<button type="submit" class="btn btn-primary">Submit </button>
							<a type="button" href="<%= linkPrefix %>"
								class="btn btn-default">Cancel</a>
						</form>
					</div>
				</div>
			</div>
		</div>
	</div>
</div>
<script>
	CKEDITOR.replace( 'content_ckeditor' );
</script>