<% include ../../helpers/filter-status %>
<% include ../../helpers/action %>
<% include ../../helpers/status %>
<% include ../../helpers/pagination %>

<%- locals.flash %>

<div class="row">
	<div class="col-lg-12">
		<div class="panel panel-info">
			<div class="panel-heading">
				Search & Filter
				<a href="<%= systemConfig.prefixAdmin %>/items/all">
					<span id="icon-reload" class="glyphicon glyphicon-refresh"></span>
				</a>
			</div>
			<div class="panel-body">
				<div class="row">
					<div class="status-list col-sm-6 pl0">
						<!-- Filter Status -->
						<%- filterStatusHelper('items', statusFilter, keyword) %>
					</div>
					<div class="col-sm-6">
						<form action="/<%= systemConfig.prefixAdmin %>/items/<%= currentStatus %>" method="GET">
							<div class="input-group">
								<input type="text" class="form-control" name="keyword" placeholder="Search for..."
									value="<%= keyword %>">
								<span class="input-group-btn">
									<button class="btn btn-info" type="submit">Search</button>
								</span>
								<span class="input-group-btn">
									<button class="btn btn-success" type="button"><a
											href="<%= systemConfig.prefixAdmin %>/items/<%= currentStatus %>">Clear</a></button>
								</span>
							</div>
						</form>
					</div>
				</div>
			</div>
		</div>
	</div>
	<div class="col-lg-12">
		<div class="panel panel-info">
			<div class="panel-heading">
				List Items
			</div>
			<!-- /.panel-heading -->
			<div class="panel-body">
				<form role="form" class="form-inline zt-form" id="zt-form" action="" method="post">
					<%- actionHelper('items') %>
					<div class="table-responsive">
						<table class="table table-striped">
							<thead>
								<tr>
									<th>
										<input type="checkbox" class="cbAll" />
									</th>
									<th>#</th>
									<th>Name</th>
									<th>Status</th>
									<th>Ordering</th>
									<th>Action</th>
								</tr>
							</thead>
							<tbody>
								<%	items.forEach((item, index) => { %>		
									<tr>
										<td>
											<input type="checkbox" name="cid" value="<%= item.id %>" />
										</td>
										<td>
											<%= index + 1 %>
										</td>
										<td>
											<%= item.name %>
										</td>
										<td>
											<%- statusHelper('items', item.status, item.id) %>
										</td>
										<td>
											<input type="number" value="<%= item.ordering %>" class="text-center ordering ">
										</td>
										<td>
											<a href="#" type="button"
												class="btn btn-warning btn-sm">Edit</a>
											<a href="/<%= systemConfig.prefixAdmin %>/items/delete/<%= item.id %>" type="button"
												class="btn btn-danger btn-sm btn-delete">Delete</a>
										</td>
									</tr>
								<%	}) %>
							</tbody>
						</table>
					</div>
				</form>
			</div>
		</div>
	</div>
	<div class="col-lg-12">
		<%- paginationHelper(pagination,'items' , currentStatus, keyword) %>
	</div>
</div>