<%
    const folder_uploads = 'uploads/article/';
%>
<section class="top-post-area pt-10">
    <div class="container no-padding">
        <div class="row small-gutters">
            <div class="col-lg-8 top-post-left">
                <div class="feature-image-thumb relative">
                    <div class="overlay overlay-bg"></div>
                    <img class="img-fluid" src="<%= folder_uploads + itemsSpecial[0].thumb %>" alt="<%= itemsSpecial[0].category.name %>">
                </div>
                <div class="top-post-details">
                    <ul class="tags">
                        <li><a href="#"><%= itemsSpecial[0].category.name %></a></li>
                    </ul>
                    <a href="image-post.html">
                        <h3><%= itemsSpecial[0].name %></h3>
                    </a>
                    <ul class="meta">
                        <li><a href="#"><span class="lnr lnr-user"></span><%= itemsSpecial[0].created.user_name %></a></li>
                        <li><a href="#"><span class="lnr lnr-calendar-full"></span><%= moment(itemsSpecial[0].created.time).format(systemConfig.format_time_frontend) %></a></li>
                    </ul>
                </div>
            </div>
            <div class="col-lg-4 top-post-right">
                <% for(let i = 1; i < itemsSpecial.length; i++){ %>
                    <div class="single-top-post mt-10">
                        <div class="feature-image-thumb relative">
                            <div class="overlay overlay-bg"></div>
                            <img class="img-fluid" src="<%= folder_uploads + itemsSpecial[i].thumb %>" alt="<%= itemsSpecial[i].name %>">
                        </div>
                        <div class="top-post-details">
                            <ul class="tags">
                                <li><a href="#"><%= itemsSpecial[i].category.name %></a></li>
                            </ul>
                            <a href="#">
                                <h4><%= itemsSpecial[i].name %></h4>
                            </a>
                            <ul class="meta">
                                <li><a href="#"><span class="lnr lnr-user"></span><%= itemsSpecial[i].created.user_name %></a></li>
                                <li><a href="#"><span class="lnr lnr-calendar-full"></span><%= moment(itemsSpecial[i].created.time).format(systemConfig.format_time_frontend) %></a></li>
                            </ul>
                        </div>
                    </div>
                <% } %>
            </div>
        </div>
    </div>
</section>